.App {
  text-align: center;
  align-items: center;
}

.Action {
  height: 70px;
  width: 300px;  

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.Action-Grid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Marble {
  font-size: calc(30px + 2vmin);
  justify-content: center;

}

.column {
    display: inline-block;
}
