.App {
  text-align: center;
  align-items: center;
}

.Action {
  height: 70px;
  width: 250px;  
  padding: 0;
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.Action-Grid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Marble {
  font-size: 5vmin;
  justify-content: center;
  padding: 0;
  display: block;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
}

.column {
    display: inline-block;
}
